
.element-inputCurves{
    padding: 10px;  
    width: 600px;
}

.inputArtifact {
    width: 100%;
    height: 400px;
    outline: 1px solid #006ebb;
    border-radius: 0.2rem;
    overflow: hidden;
    position: relative;
}

.inputArtifact__content {
    display: flex;
    border-bottom: 1px solid black;
    height: 85%;
    
}

.inputArtifact__inputs {
    width: 20%;
    border-right: 1px solid black;
    padding: 10px;
    position: relative;
    overflow-y: scroll;
    

}

.inputArtifact__coord {
    border-bottom: 1px solid #006ebb;
    border-radius: 0.2rem;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-family:"swap";
    /* transition: background .1s; */
}
/* 
.inputArtifact__coord:focus-within {
    outline: 1px solid #006ebb;

    background-color: #f8f8fe;
}
 */
.inputArtifact__coord--first {
    margin-top: 0;
}

.inputArtifact__inputCoord {
    min-width: 40px;
    max-width: 40px;
    min-height: 20px;
    vertical-align: middle;
    display: inline-block;
    font-size: 20px;
    background-color:transparent;
    
}

.inputArtifact__coord:focus-within{
    outline: 1px solid #006ebb;
}

.inputArtifact__board {

    width: 80%;
}

.inputArtifact__btn {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    padding: 8px;

}

.inputArtifact__btnCreateCurve {
    padding: 10px;
    border: none;
    background-color: #006ebb;
    color: #fff;
    border-radius: 0.2rem;

}

.inputArtifact__btnCreateCurve::after {
    font-size: 18px;
    font-weight: bolder;
    content: "\219D";
}

.inputArtifact__btnReset {
    padding: 10px;
    width: 150px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
    border: none1;
    color: #000000;
    border-radius: 0.2rem;
}
.inputArtifact__btnReset::after{
    font-size: 18px;
    font-weight: bolder;
    color: #181818;
    content: "\27F2";
    margin-left: 1.5px;
}

.msg{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 200px;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    opacity: 1;
    z-index: 100;
    
}

.msg__succes{
    background-color: #008140;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: double;
    border-color:#fff ; 
}

.msg__succes::after{
    color:#ffffff;
    content: "\2714";
    font-size: 30px;
}
.animateSucces{
    animation-name: success;
    animation-duration: 0.5s;
    animation-timing-function:ease-out;
    animation-delay: .2s;
}

.msg__error{
    background-color: #ed5353;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: double;
    border-color:#fff ; 
}
.msg__error::after{
    color:#ffffff;
    content: "\00D7";
    font-size: 40px;
}
.animateError{
    animation-name: error;
    animation-duration: 0.3s;
    animation-timing-function:linear;
    animation-delay: .2s;
}

.animateInfo{
    animation-name: info;
    animation-duration: 0.3s;
    animation-timing-function:linear;
    animation-delay: .2s;
}

@keyframes success {
    0%   {
        transform: rotate(0deg);
        background-color: #008140;
    }
    75% {
        transform: rotate(360deg);
    }
    95% {
        transform: rotate(360deg);
        transform: scale(1.05);
    }
    100%{
        transform: rotate(0deg);
    }
  }

@keyframes error {
    0%   {
        transform: rotate(0deg);
    }

    50%{
        transform: scale(1.3) rotate(-45deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

@keyframes info {
    0%   {
        transform: rotate(0deg);
    }

    50%{
        transform: scale(1.3)
    }

    75% {
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}


.infoAlertContainer{
    min-height: 20px;
    min-width: 150px;
    height: 25px;
    width: 20%;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    font-weight: 400;
    letter-spacing: .5px;
}

.alertSucces{
    background-color: #0676ed;
    border-style: double;
    border-color:#fff ; 
    color: #fff;
}

.alertSucces::before{
    color: #fff;
    content: '\24D8';
    font-size: 24px;
    margin-right: 10px;
    font-weight: 700;
}

@media screen and (max-width: 500px){
    .inputArtifact{
        border-radius: .5rem;
        height: 450px;
    }

    .shadow{
        box-shadow: -2px 17px 23px -4px rgba(60, 59, 59, 0.64);

    }

    .element-inputCurves{
        width: 90%;
        margin: 5px;
    }
    .inputArtifact__content{
        flex-direction: column-reverse;
    }
    .inputArtifact__inputs{
        width: 95%;
        height: 200px;
        border: none;
        margin: auto;
        overflow-y: scroll;
        padding: 5px;
        box-shadow: -53px -119px 25px -120px #99d0f4 inset;
        
    }

    .inputArtifact__board{
        width: 100%;
        height: 300px;
        border-bottom : 2px solid #006ebb;
    }
    .msg{
        top: 0;
    }

}

.inputArtifact__inputs::-webkit-scrollbar{
    background: #ccc;
    width: 8px;
    border-radius: 4px;
  }
  .inputArtifact__inputs::-webkit-scrollbar-thumb{
    background-color: #006ebb;
    border-radius: 4px;
    width: 10px;
  }


  .d-none{
    display: none;
  }


